<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Cartão do Cliente - Administrador</title>
  <link rel="stylesheet" href="/style/style2.css">
</head>
<body>
  <div>
    <h1>Cartão do Cliente</h1>
    <h2>Cliente: Ritielen Silva</h2>
    <ul class="task-list">
      <li class="task"><label><input type="checkbox" checked><span>Almoço 1</span></label></li>
      <li class="task"><label><input type="checkbox" checked><span>Almoço 2</span></label></li>
      <li class="task"><label><input type="checkbox" checked><span>Almoço 3</span></label></li>
      <li class="task"><label><input type="checkbox" checked><span>Almoço 4</span></label></li>
      <li class="task"><label><input type="checkbox" checked><span>Almoço 5</span></label></li>
      <li class="task"><label><input type="checkbox" checked><span>Almoço 6</span></label></li>
      <li class="task"><label><input type="checkbox" checked><span>Almoço 7</span></label></li>
      <li class="task"><label><input type="checkbox"><span>Almoço 8</span></label></li>
      <li class="task"><label><input type="checkbox"><span>Almoço 9</span></label></li>
      <li class="task"><label><input type="checkbox"><span>Almoço 10</span></label></li>
      <li class="task"><label><input type="checkbox"><span>Almoço 11</span></label></li>
      <li class="task"><label><input type="checkbox"><span>Almoço 12</span></label></li>
    </ul>
  </div>
</body>
</html>
