<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Meu Cartão - Cliente</title>
  <link rel="stylesheet" href="/style/style2.css">
</head>
<body>
  <div>
    <h1>Meu Cartão</h1>
    <ul class="task-list">
      <li class="task"><span>✔️ Almoço 1</span></li>
      <li class="task"><span>✔️ Almoço 2</span></li>
      <li class="task"><span>✔️ Almoço 3</span></li>
      <li class="task"><span>✔️ Almoço 4</span></li>
      <li class="task"><span>✔️ Almoço 5</span></li>
      <li class="task"><span>✔️ Almoço 6</span></li>
      <li class="task"><span>✔️ Almoço 7</span></li>
      <li class="task"><span>❌ Almoço 8</span></li>
      <li class="task"><span>❌ Almoço 9</span></li>
      <li class="task"><span>❌ Almoço 10</span></li>
      <li class="task"><span>❌ Almoço 11</span></li>
      <li class="task"><span>❌ Almoço 12</span></li>
    </ul>
  </div>
</body>
</html>
